* {
    margin: 0px; padding: 0px;
    }

    title{
        font: bold 30px Arial, sans-serif;
        text-align: justify;
    }

    body {

        background-image:url(Imagenes/imagen.jpg);
        background-repeat: no-repeat;
        color:#fff;
    }